.combo-box .cell{
    -fx-text-fill: #000000;
 -fx-background-color: #F7819F;
    -fx-font: 16px "Arial";
}
.my-list-cell {
    -fx-text-fill: #610B21 ;
    -fx-font: 16px "Arial";
    /* No alternate highlighting */
    -fx-background-color: #F7819F;
}